<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<main class="home_page">
  <h1 class="display-4"><%= title %></h1>
  <form class="create-form" method="POST">
    <ol>
      <% for(let i=0 ; i<QuestionList.length ; i++) { %>
      <li>
        <%= QuestionList[i].text %>
        <br />
        <textarea name='<%= QuestionList[i]._id %>' id="<%= QuestionList[i]._id %>"></textarea><br>
      </li>
      <% } %>
    </ol>
    <br />
    <input type="submit" />
  </form>
</main>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>